// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-dark: #23180d;
  --ion-color-dark-rgb: 35,24,13;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #ffc409;
  --ion-color-dark-tint: #392f25;

  --ion-color-medium: #2d2013;
	--ion-color-medium-rgb: 45,32,19;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #281c11;
	--ion-color-medium-tint: #42362b;

  --ion-color-yellow: #f5cf55;
	--ion-color-yellow-rgb: 245,207,85;
	--ion-color-yellow-contrast: #000000;
	--ion-color-yellow-contrast-rgb: 0,0,0;
	--ion-color-yellow-shade: #d8b64b;
	--ion-color-yellow-tint: #f6d466;
}

.ion-color-yellow {
	--ion-color-base: var(--ion-color-yellow);
	--ion-color-base-rgb: var(--ion-color-yellow-rgb);
	--ion-color-contrast: var(--ion-color-yellow-contrast);
	--ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
	--ion-color-shade: var(--ion-color-yellow-shade);
	--ion-color-tint: var(--ion-color-yellow-tint);
}