<app-header-back [title]="categoryName"></app-header-back>

<ion-content class="ion-padding">



  @if(isLoadingMeals) {
    <div class="d-flex ion-justify-content-center ion-padding">
      <ion-spinner color="warning"></ion-spinner>
    </div>
  }


  <ion-grid>
    <ion-row>

      @for (meal of meals; track $index) {
        <ion-col size="12">
          <ion-card
            class="d-flex new-card bg-black"
            (click)="goToMealDetail(meal)"
          >
            <img  [src]="meal.strMealThumb" />
            <ion-label>
              <h4 class="font-bold ion-text-dark">{{meal.strMeal}}</h4>
            </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-card>
        </ion-col>
      }

    </ion-row>
  </ion-grid>

</ion-content>
