<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start" color="warning">
      <ion-button (click)="goBack()" color="warning">
        <ion-icon color="warning" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    @if(!title) {
      <ion-title>
        <img src="assets/images/logo-small.png" width="210px" alt="">
      </ion-title>
    } @else {
      <ion-title class="text-warning">
        {{title}}
      </ion-title>
    }

    <ion-buttons slot="primary">
      <!-- <ion-button>
        <ion-icon color="light" name="arrow-redo-sharp"></ion-icon>
      </ion-button> -->
    </ion-buttons> 
   
  </ion-toolbar>
</ion-header>
