<app-header-home></app-header-home>

<ion-content class="ion-padding">

  <div class="search-container d-flex">



    <ion-grid>
      <ion-row>

        <ion-col size="12">
          <ion-item>
            <ion-input
              color="medium"
              mode="md"
              label="Search Meal"
              labelPlacement="floating"
              placeholder="Search Meal"
              debounce="500"
              [(ngModel)]="search"
            ></ion-input>
            <ion-icon name="search-outline" color="medium"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
  
        <ion-col size="12">
          <h3 class="ion-no-margin text-white">Categories</h3>
        </ion-col>

        @for (category of categories; track $index) {
          <ion-col size="12">
            <ion-card
              class="d-flex new-card bg-black"
              (click)="goToMealDetail(category)"
            >
              <img  [src]="category.strCategoryThumb" />
              <ion-label>
                <h4 class="font-bold ion-text-dark">{{category.strCategory}}</h4>
              </ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>





  </div>

</ion-content>
