ion-item {
  --inner-border-color: var(--ion-color-warning);
  --inner-padding-start: 6px;

  ion-input {
    --highlight-color: var(--ion-color-warning);
    --color: var(--ion-color-warning);
    --border-color: var(--ion-color-warning);
    --highlight-color-focused:  var(--ion-color-warning);
  }
}

.padding-card {
  padding-left: 3px;
}


ion-accordion {
  background: var(--ion-color-dark);
  border-radius: 10px;
}


.ion-padding-none-top {
  padding-top: 0px;
}