ion-item {
  width: 100%;
  --border-radius: 8px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--ion-color-medium);
  margin-bottom: 15px;
  --inner-border-width: 0px 0px 0px 0px;

  ion-input {
    --highlight-color: var(--ion-color-dark);
  }
}

.new-card {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  --background: #d57d1f;

  ion-label {
    margin-left: 25px;
    h4 {
      font-size: large;
      color: var(--ion-color-medium);
    }
  }
  img {
    width: 110px;
    height: 80px;
    object-fit: cover;
  }
  ion-icon {
    color: var(--ion-color-medium);
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 20px;
  }
}
